#game-player-editor {
    flex:1;
}
.test-player-editor {
    width:100%;
}
.details {
    width:400px;
    overflow:hidden;
    border-left:1px solid black;
}

#canvas {
    width:100%;
    height:100%;
    border:none;
}
