/* LAYOUT */
/* ====== */
* {
    box-sizing:border-box !important;
}
:root {
    --main-color: rgb(37, 16, 61);
    --accent-color: #8CFF98;
    --text-color: rgb(245, 245, 245);
    --highlight-color: #FB3640;
    --highlight-color2: #CCE6F4;
    --highlight-color3: #4d00a199
  }

html {
    background-color: var(--main-color);
    box-shadow: inset 50px -10px 75px  var(--highlight-color3)
}

body {
    font-family: 'PT Sans', sans-serif;
    color:var(--text-color);
    max-width: 1300px;
    border-radius:20px;
    /* border:1px solid #ccc; */
    /* background-color:#EEEED4; */
    margin:10px auto 50px;
    padding:0 30px 50px;
}

@media screen and (max-width: 800px) {
    body {
        padding:0 10px 50px;
        margin:0;
        max-width:100%;
        border:none;
        border-radius:0;
    }
}

.title {
    text-align: left;
    font-size: 10vw;
    max-height: 300px;
    font-weight: 900;
    letter-spacing: 0px;
    padding: 0 0 0 12vw;
    margin: 40vh auto 20vh;
}

.title > span {
    font-style: italic;
    color: rgb(224, 224, 224);
}

@media screen and (max-width: 800px) {
    .title {
        font-size:7vw;
        line-height:20vh;
        height:20vh;
    }
}

.accent-line {
    color: var(--accent-color);
    font-weight: 900;
    letter-spacing: 2px;
}

.tag-line-container {
    font-size: 6vh;

}

.section-container {
    padding: 0 0 0 12vw;
    margin: 0 auto 5vh;
}

.tag-line-row {
    margin: 10px 0 ;
}

.alert-container {
    border: 2px solid var(--highlight-color);
    background-color:  var(--highlight-color);
    padding: 20px;
    border-radius: 0px 20px 20px 20px;
}

.try-it-now { 
    /* padding: 0 0 0 12vw; */
    display: grid;
    min-width: 500px;
    margin: 0 auto 5vh;
    padding: 0 0 0 12vw;
}

.section-title {
    font-size: 6vh;
    font-weight: 900;
    color: var(--accent-color);
    margin-top: 10vw;
}

.leader-board-container {
    
}

.error-container{ 
    margin-bottom: 20px;
}

.game-container {
    border: 2px solid var(--highlight-color2);
    border-radius: 0px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1e1e1e;
}

.game-editor {
    
}

#try-it-now-mobile {
    display:none;
}
@media screen and (max-width: 800px) {
    .leader-board-container {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .try-it-now {
        display:none;
    }
    
    #try-it-now-mobile {
        display:block;
    }
}

.game-card {
    /* width:90vw;
    max-width:550px;
    margin:15px;
    padding:5px;
    border:1px solid #ccc;
    border-radius:10px;
    clear:both;
    display:inline-block; */
    display: flex;
    flex-direction: row;
    margin-bottom: 5vw;
    /* grid-template-areas: 
    "thumbnail title"
    "thumbnail description"
    "thumbnail links" */
  }

  .game-card-thumbnail {
    margin: 10px 30px 10px 10px;
    grid-area: thumbnail;
  }
  .game-card-thumbnail img {
    width: 100px;
    height: 100px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: .25s;
  }

  .game-card:hover .game-card-thumbnail img {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

  .game-card-title {
    font-size: 6vw;
    font-weight: 900;
    grid-area: title;
  }

  .game-card-description {
      grid-area: description;
  }

  .game-card-links {
      grid-area: links;
      display: flex;
      margin-top: 10px;
  }

  .detail-button:hover {
      text-decoration: underline;
  }
  .detail-button {
      color: var(--accent-color);
      margin: 0 20px 0 0;
  }

  .game-card-dificulty {
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .dificulty-dot:first-child{
      margin-left: 5px;
  }

  .dificulty-dot{
      width: 10px;
      height: 10px;
      background-color: var(--accent-color);
      border-radius: 50%;
      margin: 3px;
  }

  .game-card-leaderboard {
  }

  .game-card-details a {
  }

  .game-card-details {
  }

  @media screen and (max-width: 800px) {
    .game-card {
      width: 95vw;
      margin: 10px 0;
    }
    .game-card-thumbnail {
      width:30vw;
      height:30vw;
      float:right;
      margin:5px 5px 5px 20px;
    }
    .game-card-thumbnail img {
      width: 30vw;
      height: 30vw;
    }
  }

[v-cloak] { display:none; }
.no-margin {
    margin: 0;
}



.logo-home {
    float:left;
    padding:0;
    margin:5px 10px;
    height:52px;
    width:52px;
    border:1px solid #333;
}

/* Container pages are content pages like the index, not editor pages */



table {
    border-collapse:collapse;
    /* border:1px solid #666; */
    width: 100%;
}
th, td {
    border-bottom:1px solid #666;
    padding: 5px 10px;
    text-align: left;
}

th {
    color: var(--accent-color);
}
table.noborder, table.noborder td, table.noborder th {
    border:none;
}

.hint {
    background-color:#008f11;
    color:white;
    border:1px solid white;
    border-radius:1em;
    display:inline-block;
    width:1em;
    height:1em;
    text-align:center;
    font-size:1em;
    line-height:1em;
    cursor:help;
    opacity:.5;
    font-weight:normal;
}
.hint:hover {
    opacity:1;
}
.hint:after {
    content:"?"
}
.hint-content {
    display:none;
    position:absolute;
    font-weight:normal;
    z-index:999;
    border:2px solid #008F11;
    background-color:#fcfcfc;
    color:black;
    border-radius:5px;
    font-size:12px;
    text-align:left;
    padding:3px;
    white-space:normal;
}
.hint:hover .hint-content {
    display:block;
}

/* FLEXBOX */
/* ======= */
.flex, .flex-horizontal, .flex-vertical {
    display:flex;
    align-items:stretch;
}
.flex-vertical {
    flex-direction:column;
}
.flex > *, .flex-horizontal > *, .flex-vertical > * {
    /*border:1px solid #444;*/
}
.flex-grow {
    flex:1 0;
}
.flex-shrink {
    flex:0 1;
}

/* OVERLAY */
/* ======= */

#overlay {
    position:absolute;
    z-index:99;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    line-height:100vh;
    background-color:black;
    opacity:.9;
    color:white;
    font-size:10vh;
    font-family:montserrat, consola, monospace;
    text-align:center;
    border:10px solid #008F11;
    border-radius:5vh;
}

/* BUTTONS */
/* ======= */

.buttons > input {
    margin: 0 5px;
}
.button {
    padding:5px 16px;
    background-color: var(--accent-color);
    color:var(--main-color);
    border:1px solid rgba(27, 31, 36, 0.15);
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    opacity:.999;
}
.button.large {
    font-size:larger;
}
.button.dark {
    background-color: #393939;
    color: #666;
    border-color:#666;
}
.button.small {
    padding:1px 3px;
}
a.button {
    text-decoration:none;
    padding:5px 10px;
    /* color:white; */
    margin:3px;
}
.button:hover {
    background-color: var(--highlight-color3);
    /* border:1px solid black; */
    /* color:white; */
}
.button.disabled {
    background-color:#ccc;
    color:#666;
    opacity:.7;
    border:1px solid #333;
    cursor:not-allowed;
}

/* USER BADGE */
/* ========== */
.user-badge {
    height:50px;
    width:80px;
    border: 2px solid #008F11;
    padding:0;
    border-radius:25px;
    background-color: #EEEED4;
    text-align:center;
    line-height:46px;
    position:fixed;
    display:inline-block;
    right:10px;
    top:10px;
}
.user-badge-badge {
    height:46px;
    width:76px;
    color:black;
    font-size:12px;
    cursor:pointer;
    text-align:left;
}
.user-badge-hamburger {
    width:25px;
    height:46px;
    line-height:46px;
    vertical-align:center;
    padding-top:14px;
    padding-left:10px;
}
.user-badge-hamburger > div {
    background-color:#008F11;
    height:2px;
    margin:3px 0;
}
.user-badge-picture {
    height:42px;
    width:42px;
    border-radius:21px;
    position:absolute;
    top:3px;
    right:3px;
}
.user-badge-menu {
    position:absolute;
    margin-top:48px;
    right:0;
    border:3px solid #008F11;
    width:150px;
    background-color:#EEEED4;
    color:black;
    padding:3px;
    font-size:16px;
    line-height:30px;
}
.user-badge-menu-item {
    cursor:pointer;
    padding:3px;
    display:block;
    margin:2px;
    border:1px solid #ccc;
    color:black;
}
.user-badge-login {
    cursor:pointer;
    color:#008F11;
}
.user-badge-menu-item:hover {
    background-color:#008F11;
    color:white;
}

/* VUE DIRECTIVES */
/* ============== */
.maxlength-counter {
    position:absolute;
    font-size:11px;
    width:20px;
    margin-left:-24px;
    margin-top:2px;
    text-align:center;
    z-index:10;
    color:#333;
    background-color:white;
    border:.5px solid #ddd;
    border-radius:3px;
    opacity:.9;
}

/* TABS */
/* ==== */

.tabs {
    margin-top:3px;
}
.tabs .tab {
    display:inline-block;
    border:1px solid #ccc;
    border-bottom:none;
    margin:3px;
    padding:2px 5px;
    font-family:Consolas, monospace;
    cursor:pointer;
}
.tabs .tab.active {
    background-color: #254E78;
    color: rgb(174,175,173);
}

/* MESSAGES */
/* ======== */
#messages-container {
    position:fixed;
    bottom:5px;
    left:5px;
    max-width:15vw;
    min-width:200px;
    z-index:9999;
}
.messages-message {
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    box-sizing: border-box;
    border: 2px solid ;
    border-left-width: 10px;
    border-radius: 0px 20px 20px 20px;
    border-bottom-width: 5px;
    /* display: inline-block; */
    position: relative;
    border-color: var(--accent-color);
}
.messages-message:hover {
    opacity:1;
}
.messages-message.messages-error {
    border-color:var(--highlight-color);
    /* color:white; */
}
.messages-timer {
    height:2px;
    background-color:#aaa;
    width:100%;
}
.messages-close {
    position:absolute;
    top:0;
    right:0;
    border:2px solid white;
    color:white;
    border-radius:5px;
    padding:0 2px;
    margin:3px;
    background-color: #008F11;
    display:none;
}
.messages-message.messages-error .messages-close {
    background-color:#c00;
}
.messages-message:hover .messages-close {
    display:block;
}
